# node
node_modules
.DS_Store


# github
.github/

# codacy
.codacy.yml

# test
spec/
coverage
jest.config.js
jest.setup.js
tsconfig.json
tsconfig.spec.json

# ide
jsdoc.conf.json
.vscode
.idea
.theia
*.workspace
.eslintrc
# docs
docs/

# gitpod
.gitpod.yml

