# node
node_modules
.DS_Store


# github
.github/

# test
spec/
coverage
jest.config.js
jest.setup.js
tsconfig.json
tsconfig.spec.json

# ide
jsdoc.conf.json
.vscode
.idea
.theia
*.workspace

# eslint
.eslintrc
.eslintignore

# docs
docs/

# gitpod
.gitpod.yml

# cadacy
.codacy.yml

